extends layout

block content
    div.container
        form.form-inline.pl-2.float-right(action=`/users/watchlist/${movie.id}` method='POST')
            if(!inWatchlist)
                button.btn.btn-info.my-sm-0(type='submit')
                    span.fa.fa-plus
            else
                button.btn.btn-primary.my-sm-0(type='submit')
                    span.fa.fa-check
        div.row.my-3.p-3.bg-white.rounded.shadow-sm
            div.col-auto
                img.rounded(src=movie.poster)
            div.col
                div.my-3.p-3.bg-white.rounded.shadow-sm
                    h5.text-center.border-bottom.border-gray.pb-2.mb-0 Director(s)
                    br
                    ul.list-group
                        each director in directors
                            li.list-group-item
                                form
                                    button.btn.btn-primary.my-sm-0(formaction=`/persons/${director.name}`)= director.name
            div.col
                div.my-3.p-3.bg-white.rounded.shadow-sm
                    h5.text-center.border-bottom.border-gray.pb-2.mb-0 Genre(s)
                    br
                    ul.list-group
                        each genre in genres
                            li.list-group-item
                                form
                                    button.btn.btn-primary.my-sm-0(formaction=`/genres/${genre.name}`)= genre.name
                                    
    div.my-3.p-3.bg-white.rounded.shadow-sm
        h5.text-center.border-bottom.border-gray.pb-2.mb-0 Plot
        br
        h6.text-justify #{movie.plot}

    div.my-3.p-3.bg-white.rounded.shadow-sm
        h5.text-center.border-bottom.border-gray.pb-2.mb-0 Cast
        ul.list-group
            each actor in cast
                li.list-group-item
                    form
                        button.btn.btn-primary.my-sm-0(formaction=`/persons/${actor.name}`)= actor.name

    // user section (watchlist/rating)
    div.container
        div.row
            div.col
                div.my-3.p-3.bg-white.rounded.shadow-sm
                    h5.text-center.border-bottom.border-gray.pb-2.mb-0 Average Rating
                    br
                    form.align-items-center.justify-content-center.form-inline.my-lg-0()
                        button.btn.btn-info.my-sm-0(disabled) #{movie.rating}/5
            div.col
                div.my-3.p-3.bg-white.rounded.shadow-sm
                    h5.text-center.border-bottom.border-gray.pb-2.mb-0 Your Rating (Previous : #{rating})
                    br
                    form.align-items-center.justify-content-center.form-inline.my-lg-0(action=`/users/rate/${movie.id}` method='POST')
                        input.form-control.mr-sm-2(type = 'number' min = '1' max = '5' id = "rating" name = "rating" required="")
                        button.btn.btn-primary.my-sm-0(type='submit')
                            span.fa.fa-star
        div.row
            div.col
                div.my-3.p-3.bg-white.rounded.shadow-sm
                    form(action=`/users/review/${movie.id}`, method = 'post')
                        div.form-group
                            div.d-flex.justify-content-between
                                h5.border-bottom.border-gray.pb-2.mb-0 Review
                                button.mb-5.btn.btn-primary(type = 'submit') Post
                            textarea.form-control(name = 'review' rows = '5' maxlength = '50')

    // similar movies section
    div.my-3.p-3.bg-white.rounded.shadow-sm
        div.d-flex.justify-content-between
            h5.border-bottom.border-gray.pb-2.mb-0 Similar Movies
            a(href=`/movies/similar/${movie.id}`)
                b View More...
        table.table.table-borderless
            tbody
                tr
                    each movie in similarMovies
                        td
                            div.card(style='width:11rem;')
                                a.p-2.text-center(href = `/movies/id/${movie.id}`)
                                    img.card-img-top(src=movie.poster)
                                    b #{movie.title}
    // similar movie collab
    div.my-3.p-3.bg-white.rounded.shadow-sm
        div.d-flex.justify-content-between
            h5.border-bottom.border-gray.pb-2.mb-0 People who liked this also liked
            a(href=`/movies/people_also_liked/${movie.id}`)
                b View More...
        table.table.table-borderless
            tbody
                tr
                    each movie in similarCollab
                        td
                            div.card(style='width:11rem;')
                                a.p-2.text-center(href = `/movies/id/${movie.id}`)
                                    img.card-img-top(src=movie.poster)
                                    b #{movie.title}

    div.my-3.p-3.bg-white.rounded.shadow-sm
        div.d-flex.justify-content-between
            h5 Reviews
            a(href=`/movies/review/${movie.id}`)
                b View More...
        
        if reviews.length == 0
            h5 Sorry, no results were found

        ul.list-group
        each review in reviews
            li.list-group-item
                div.my-3.p-3.bg-white.rounded.shadow-sm
                    h6 Reviewed by #{review.email}
                    h4 #{review.content}
